/* nabvar */
.navbarra {
    padding: 1.5em;
    background-color: #22262b;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;
    border-radius: .25rem;
}
.titulo{
    font-size: 1em;
    text-decoration: none;
    color: #ffff;
}

.boton{
    margin: 1em;
    text-decoration: none;
    font-size: 19px;
    background-color: transparent;
    color: white;
    border-color: transparent;
    border-radius: 5px;
}
.boton:hover{
    text-decoration: none;
    color: white;
    border: 1px solid white;
}
.boton:active{
    text-decoration: none;
    font-size: 19px;
    background-color: transparent;
    color: white;
    border-bottom-color: white;
    border-style: solid;
    transform: scale(.9);
}

@keyframes miAnimacion{
    0%{
        background-color: #0a661f;
        /* background-image: linear-gradient(to left,#0d7e27,#22262b,#22262b); */
    }
    50%{
        background-color: #22262b;
        /* background-image: linear-gradient(to left,#22262b,#0d7e27,#22262b); */
    }
    100%{
        background-color: #0a661f;
        /* background-image: linear-gradient(to left,#22262b,#22262b,#0d7e27,); */
    }
    
    
}
.contacto{
    font-size: 25px;
    padding: 1em;
    color: white;
    background-color: #00000000;
    border: 1.5px solid white;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.6s;
    animation: miAnimacion 2s infinite;
}
.contacto:hover {
    background-color: #22262b;
    text-decoration: none;
    color: white;
}
#gmail{
    width: 1.1em;
    
}

/* Slider */
.slide{
    margin-top: 100px;
}

.titulo2{
    font-size: 40px;
}
.parrafo{
    font-size: 20px;
}
.footer{
    background-color: #22262b;
}
